pip3 install ipykernel --upgrade
python3 -m ipykernel install --user

> import sys
> sys.executable
  
  
> from platform import python_version
> print(python_version())

In [5]:
import sys
sys.executable

'/opt/goinfre/gernesto/venv/bin/python'

In [6]:
from platform import python_version
print(python_version())

3.10.2

## Ex00

• read_csv:
    ◦ filter the rows with index 2 and 3 using the argument skiprows, we know that
    these observations were fake
    ◦ filter the last 2 rows from the footer using the argument skipfooter, we know
    that these observations were fake too
    ◦ assign the following names to the column: datetime, user
    ◦ use datetime as the index column

• rename datetime to date_time

• to_csv:
    ◦ use ’;’ as the delimiter

In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('feed-views.log', skiprows=[2, 3], skipfooter=2, engine='python',
                 names=['datetime', 'user'], header=None, index_col='datetime', sep='\t')
print(df.head())
print(df.tail())

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana
                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [31]:
df.index.names = ['date_time']
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [32]:
df.to_csv('feed-views-semicolon.log', sep=';')